/* Created by: Emre Guzel
* Created on: March 31 2025
* This file contains the CSS for index.html
*/

html {
  font-size: 15px;
}

body {
  font-family: "Atkinson Hyperlegible Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background: skyblue;
}
.container{
  margin-left: 10em;
  display: flex;
}
.Calculate {
  width: 20%;
  text-align: center;
  margin-top: 1rem;
  margin-left: -74vw;
}
.cliked{
  margin-left: 4rem;
}
.cokie-button{
  background: none;
  border: none;
}